<div class="footer-default">
    <div class="footer">
      <div class="container con">
        <div class="d-flex justify-content-center">
          <p class="text-center">
            Copyright © 2020 UPR. <i>Patent pending. All rights reserved.</i>
          </p>
        </div>
       

        </div>
      </div>
    </div>
  
 
  <div class="Copyright">
      <div class="container">
          <p class="text-center">
            <a href="#" target="_blank">Terms of Service</a> <span class="color">|</span>
            <a href="#" target="_blank">Privacy Policy</a>
          </p>
      </div>
  </div>