<div class="adjust">
  <div class="modal-header">

      <h2 class="modal-title" style="text-align: center;">Edit a Item</h2>
      
          <span aria-hidden="true" class="close" (click)="cancel()"  aria-label="Close" >&times;</span>
       
  </div>
  <form #form="ngForm" (submit)="onsubmit(form)" class="form">
  <div class="modal-body">
      <div class="input-icons">
        <div style="margin-bottom:10px;">Item Name</div>
          <input class="form-control input-field" type="text" 
            placeholder="Item Name" name="product_name" #product_name="ngModel" [(ngModel)]="service.formData.product_name" required
         >
         <div class="text-left text-danger" *ngIf="product_name.invalid"></div>
        </div>
        <div class="input-icons">

          <input class="input-field"  type="checkbox" [disabled]="true" name="is_serial_number_active" #is_serial_number_active="ngModel" [(ngModel)]="service.formData.is_serial_number_active"><span style="margin-left:8px;">Does each item have a serial number?</span>
                </div> 
                <div class="input-icons">
                
                  <input class="input-field" [disabled]="true"  type="checkbox" (click)= "toggleVisibility($event)" name="is_upc_code" #is_upc_code="ngModel" [(ngModel)]="service.formData.is_upc_code" ><span style="margin-left:8px;" >Does this item have a UPC Code?</span>
                        </div> 
                        <div class="input-icons">
                          <div style="margin-bottom:10px;">Item Reference Number (GS1 / UPC)</div>
                          <input class="form-control input-field" [disabled]="!visible" type="string" 
                            placeholder="Enter item Reference Number" name="product_reference_number" #product_reference_number="ngModel" [(ngModel)]="service.formData.product_reference_number" readonly
                         >
                         
                        </div>    
                        <div class="input-icons">
                          <input class="input-field" (click)= "toggleVisibility1($event)" readonly  type="checkbox" name="counterfeit_req" #counterfeit_req="ngModel" [(ngModel)]="service.formData.counterfeit_req" ><span style="margin-left:8px;">Enable counterfeit detection module.</span>
                        </div>   
        
      <div class="input-icons">
        <div style="margin-bottom:10px;">Counterfeit Radius in Miles</div>
          <input class="form-control input-field" type="number"
            placeholder="100" name="counterfeit_radius" #counterfeit_radius="ngModel" [disabled]="!visit" [(ngModel)]="service.formData.counterfeit_radius"
         >
         
        </div>
       
     
        
        <div class="input-icons">
          <input class="input-field"  type="checkbox" name="content_management_req" #content_management_req="ngModel" [(ngModel)]="service.formData.content_management_req"><span style="margin-left:8px;">Enable content management module.</span>
        </div> 
       
        <div class="input-icons">
          <input class="input-field"  type="checkbox" name="recall_req" #recall_req="ngModel" [(ngModel)]="service.formData. recall_req" ><span style="margin-left:8px;">Enable recall management module.</span>
        </div>
        <div class="input-icons">
          <input class="input-field"  type="checkbox" name="forms_req" #forms_req="ngModel" [(ngModel)]="service.formData.forms_req"><span style="margin-left:8px;">Enable forms management module.</span>
        </div>  
  </div>

  <div class="modal-footer">
      <span class="btn  btn-sm submit" data-dismiss="modal" (click)="cancel()"
          >Cancel</span>
          <button type="submit " class="btn  btn-sm submit" data-dismiss="modal"
          >Submit</button>
      
  </div>
</form>
</div>

