
<app-nav-bar></app-nav-bar>
<div class="container">
<h1>Import Product Service Bulletin <span class="pull-right">Products / <span style="color: #3498db;">Load Service Bulletins</span></span></h1></div>
<hr>
<div  class="container">
 <label>You may<a  style="color: #3498db;" href="">   manually add product service bulletins   </a> or import them using the Load Service Bulletins Template comma delimited file.</label><br>
 <label>To get started:</label>
 <ol>
    <li>Download the <a href="">Load Serial Bulletins Template</a> to your local machine.</li>
    <li>Enter the product item in column A, row 2 under the <span class="cl">Item Name </span>header.</li>
    <li>For each product item, enter the beginning date range for the recall in column B under the <span class="cl">Begin Date</span> header.</li>
    <li>For each product item, enter the ending date range for the recall in column C under the <span class="cl">End Date</span> header.</li>
    <li>For each product item, enter the beginning serial number for the recall in column D under the <span class="cl">Begin SN</span> header.</li>
    <li>For each product item, enter the ending serial number for the recall in column E under the <span class="cl">End SN</span>header.</li>
    <li>For each product item, enter the product recall message in column F under the <span class="cl">Service Bulletin Message </span>header.</li>
    <li>For more information, visit the <a href="">Documentation </a> page.</li>
    <li><span class="cl">Save the file in CSV </span> (Comma delimited) format.</li>
    <li><span class="cl">Click the Select file </span> button below and locate your CSV file.</li>
    <li><span class="cl">Click the Load New Items </span> button to import your information.</li>
    </ol>
    <!-- <div class="input-group">
      <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
          <div class="input-icons1">
            <input type="file" class="custom-file-input" id="inputGroupFileAddon01"  aria-describedby="inputGroupFileAddon01" (change)="uploadedFile($event)" accept=".csv">
             <label class="custom-file-label" for="inputGroupFileAddon01">Upload File</label>
        </div>
     <div class="load">
        <button type="submit" class="btn btn-primary btn1 rounded" data-toggle="modal" data-target="#openModal1">Load New Items</button>
     </div>
   </form>
</div>  -->
<form  [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
<div class="fileinput input-group fileinput-new" data-provides="fileinput">
   <div class="form-control" data-trigger="fileinput">
      <i class="glyphicon glyphicon-file fileinput-exists"></i>
      <span>{{filename}}</span>
      <span class="fileinput-filename"></span>
   </div>
   <span class="input-group-addon btn btn-default btn-file">
      <span class="fileinput-new">Select File</span>
      <span class="fileinput-exists">change</span>
      <input type="hidden" value>
      <input class="text-center form-control" type="file" (change)="uploadedFile($event)" placeholder="Upload file" accept=".csv">
      
   </span>
   <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>

</div>

<button type="submit" class="btn btn-primary button1">Upload File</button>

</form>


<div class="col-lg-12 text-left text-danger mr-top" *ngIf="validAddRecall">
   <div class="successMessages">{{message}}</div>
 
</div>

 <div class="col-lg-12 text-left text-danger mr-top" *ngIf="invalidAddRecall">
   <div class="errorMessages">{{message}}</div>
 </div>


    
    </div>
<!-- <div class="input-group">
      <span class="input-group-addon">Text</span>
      <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">
    </div> -->


