.modal-footer,.modal-header
{
  padding:15px 0px !important;

}

.modal-content
{
  z-index: 999999999999;
  position: absolute;

  color: black;
 
}

.modelmessage{text-align: center!important;font-size: 20px;}
button:disabled,
button[disabled]{
  cursor: not-allowed;
  color: #fff!important;
 background-color: #1b73bb;
}
html {
   
    -webkit-tap-highlight-color: none;
}
.btn
{
    margin-top: 0px !important;
}

.model-title{
    font-weight: 800 !important;
    font-size:18px !important;
}
.b{
    margin-top:0px;
}
.modal-body {
    position: relative;
    flex: -3 2 auto;
    padding: 20px;
    color: #999;
    /* font-family: lato; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size:14px;
  
}
h2{
    margin: 0px;
}
.modal-title{
    
    color: #555;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}
input.ng-invalid.ng-touched {
    border: 2px solid red;
    }
.mat-dialog-container{
    width:25vw;
}
.modal-body>p{
    margin-bottom:0px;
}
.adjust{
    width:35vw;
}
@media(max-width:991px){
    .adjust{
        width:40vw;
    }
}
@media(max-width:600px){
    .adjust{
        width:60vw;
    }
}
@media(max-width:420px){
    .adjust{
        width:65vw;
    }
}
.input-icons
{
    margin-bottom: 20px;
}
.cancel
{
    background-color: #be1a1a;
    color: #ffffff;
    font-weight: 500;
}
.submit
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-weight: 500;
    
}


  