.modal-body {
    position: relative;
    flex: -3 2 auto;
    padding: 20px;
    color: #5d5d5d;
    font-family: lato;
    font-weight: 500;
    font-size:17px;
  
}
.modal-title{
    font-size:18px;
    font-weight: 600;
    color:#335578;
}