<app-nav-bar></app-nav-bar>

<div class="container">
  <h1 class="itemsLeft">Administration<span class="pull-right productRight"> <span
        style="color: #3498db;" class="productRight">Add User</span></span></h1>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h2 class="header">Add a New User</h2>
            <p class="para">Please complete the following form in order to add new users to Universal Product Registration.</p>
                <form #form1="ngForm" (submit)="addCompany(form1)" class="form1">
                <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">First Name</div>
                                <input class="form-control1" type="text" name="first_name" #first_name="ngModel" [(ngModel)]="service.formData.first_name"  required>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Last Name</div>
                                <input class="form-control1" type="text" name="last_name" #last_name="ngModel" [(ngModel)]="service.formData.last_name"  required>
                            </div>
                         </div>

                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Email Address</div>
                                <input class="form-control1" type="text" name="email" #email="ngModel" [(ngModel)]="service.formData.email" required>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Telephone</div>
                                <input class="form-control1" type="text" name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone"  required>
                            </div>
                         </div>

                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf=nomarlUserPrivilage>
                            <div class="input-icons1">
                                <label class="labelColor" for="Product">Company Name</label>
                                <select class="form-control1 select-name" name="company_id" 
                                #company_id="ngModel" [(ngModel)]="service.formData.company_id">
                                    <option disabled [selected]="true" value="">Company Type</option>
                                    <option [value]="companyId">{{companyName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf=companyListPrivilage>
                            <div class="input-icons1">
                                <label class="labelColor" for="Product">Company Name</label>
                                <select class="form-control1 select-name" name="company_id" 
                                #company_id="ngModel" [(ngModel)]="service.formData.company_id">
                                <option *ngFor="let option of companyList1" [value]="option['company_id']">
                                    {{option['company_name']}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-icons1">
                                <div class="labelColor">Street Address</div>
                                <input class="form-control1" type="text" name="address" #address="ngModel" [(ngModel)]="service.formData.address"  required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">City</div>
                                <input class="form-control1" type="text" name="city" #city="ngModel" [(ngModel)]="service.formData.city" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <label class="labelColor" for="Product">State/Province</label>
                                <!-- <select class="form-control1 select-name" name="state_province" #state_province="ngModel" [(ngModel)]="service.formData.state_province">
                                    <option disabled [selected]="true" value="">State/Province</option>
                                    <option [value]="1">Alabama</option>
                                    <option [value]="2">Alaska</option>
                                </select> -->
                                <input class="form-control1" type="text" name="state_province" #state_province="ngModel" [(ngModel)]="service.formData.state_province"  required>
                           
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Zip/Postal code </div>
                                <input class="form-control1" type="text" name="postal_code" #postal_code="ngModel" [(ngModel)]="service.formData.postal_code"  required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <label class="labelColor" for="Product">Country</label>
                                <!-- <select class="form-control1 select-name" name="country" #country="ngModel" [(ngModel)]="service.formData.country">
                                    <option disabled [selected]="true" value="">Country</option>
                                    <option [value]="1">United States</option>
                                    <option [value]="2">Canada</option>
                                </select> -->
                                <input class="form-control1" type="text" name="country" #country="ngModel" [(ngModel)]="service.formData.country"  required>
                           
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Password</div>
                                <input class="form-control1" type="password" name="password" #password="ngModel" [(ngModel)]="service.formData.password" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-icons1">
                                <div class="labelColor">Confirm Password</div>
                                <input class="form-control1" type="password" >
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-icons1">
                                <div class="labelColor">User Role</div>
                                <select class="form-control1 select-name" name="user_role" #user_role="ngModel" [(ngModel)]="service.formData.user_role">
                                    <option disabled [selected]="true" value="">User Role</option>
                                    <option [value]="1">Administrator</option>
                                    <option [value]="2">Power User</option>
                                    <option [value]="3">Reporting</option>
                                    <option [value]="4">Customer Service</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-lg-12 text-left text-danger mr-top" *ngIf="validAddUser">
                            <div class="successMessages">{{message1}}</div>                          
                        </div>
                          <div class="col-lg-12 text-left text-danger mr-top" *ngIf="invalidAdduser">
                            <div class="errorMessages">{{message}}</div>
                          </div>
                          <!-- <div class="col-lg-12 text-left text-danger mr-top" *ngIf="invalidAdduser1">
                            <div class="errorMessages">{{message1}}</div>
                          </div> -->
                        <div class="col-lg-4">
                            <div class="footer1">
                                <input class="input-field" type="checkbox" name="is_active" #is_active="ngModel" [(ngModel)]="service.formData.is_active">&nbsp;Is Active
                            </div>   

                            <button type="submit" class="btn btn-primary btn1 rounded" data-toggle="modal"
                               data-target="#openModal1">
                              Submit </button>
                        </div>
                    </div>      
               </form>
        </div>
    </div>
</div>
