.modal-body {
    position: relative;
    flex: -3 2 auto;
    padding: 20px;
    color: #5d5d5d;
    font-family: lato;
    font-weight: 500;
    font-size:16px;
  
}
.modal-title{
    font-size:18px;
    font-weight: 600;
    color:#335578;
}
.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.messages
{
    color: skyblue;
    font-weight: 500;
    height: 20px;
}
.successMessages
{
    color: green;
    font-weight: 500;
}
.errorMessages
{
    color: red;
    font-weight: 500;
}
