
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          
          <div class="modal-header">
              <h4 class="modal-title">Forgot Your Password?</h4>
          
                  <span aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close">&times;</span>
               
              </div>
               <form #form="ngForm" (submit)="submit(form)" class="form">
              <div class="modal-body">
                  Enter the email for your sign in below. We'll send you a link and instructions to reset your password.
                
                  <div class="form-group"> 
                      <div class= input-icons>             
                       
                      <input type="text" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="Email ID"  name="email_id" #email_id="ngModel" [ngModel]="emailId"
                      required class="form-control1"   >
                  </div>               
                  </div>
                  <div class="text-left text-danger" *ngIf="email_id.invalid && email_id.touched">
                      <div class="messages">{{message}}</div>
                  </div>
                  <div class="text-left text-danger" *ngIf="validForgotPassword">
                      <div class="successMessages">{{message}}</div>
                  </div>
                  <div class="text-left text-danger" *ngIf="inValidForgotPassword">
                      <div class="errorMessages">{{message}}</div>
                  </div>
              </div>
              
              <div class="modal-footer">  
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" >Submit</button>
              </div>
          </form>
  
      </div>
    </div>
  </div>
  