<app-nav-bar></app-nav-bar>


<div class="container">
  <h1 class="itemsLeft">Customer Service<span class="pull-right productRight">Modules / <span
        style="color: #3498db;" class="productRight">Customer Service</span></span></h1>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="modal-content">

                <div class="adjust">
                  <div class="modal-header">
                   <h4 class="modal-title"><i class="fa fa-file-text"></i> &nbsp;Enter Product Information</h4>
                 </div>
                  <form #form1="ngForm" class="form1">
                    <div class="modal-body">
                        <div class="input-icons1">
                            <div class="labelColor">Company Name</div>
                            <input class="form-control1" type="text" placeholder="Enter Company Name"  required>
                        </div>
                    
                        <div class="input-icons1">
                            <div class="labelColor">Item Name</div>
                            <input class="form-control1" type="text" placeholder="Enter Item Name"  required>
                        </div>

                        <div class="input-icons1">
                            <div class="labelColor">Serial Number</div>
                            <input class="form-control1" type="text" placeholder="Enter Serial Number"  required>
                        </div>

                      </div>
      
                      <div class="modal-footer">
              
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="text" class="btn btn-danger">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
       <!-- Product Details -->

      
           <div class="row productdetails">
               <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                   <div class="product-content">
                       <div class="modal-header1">
                        <h4 class="product-title">Product Details</h4>
                      </div>
                      <div class="modal-header2">
                        <h4 class="sample">Sample Company</h4>
                        <p class="para">
                            <span> Iten Name: Item A</span><br><br>
                            <span> Serial Number: 1434</span><br><br>
                            <span> Website:<a href>Sample company.com</a></span><br><br>
                            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;This Product Is Authentic</span>
                        </p>
                      </div>
                    
                   </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                hii
            </div>
           </div>

           <div class="row productdetails">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="product-content">
                            <div class="modal-header1">
                             <h4 class="product-title">Product Information</h4>
                           </div>
                           <div class="modal-header2">
                             <p class="sample1">The following important documents and links have been provided by Sample Company</p>
                             <div class="para">
                                 <p>
                                     <a href="#" class="btn btn-block btn-default rounded" target="_blank">Installation Guide</a>
                                 </p>
                                 <p>
                                    <a href="#" class="btn btn-block btn-default rounded" target="_blank">Product Warrenty</a>
                                </p>
                                <p>
                                    <a href="#" class="btn btn-block btn-default rounded" target="_blank">Parts Store</a>
                                </p>
                            
                             </div>
                           </div>
                         
                        </div>
                   </div>
                   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 productdetails1">
                    <div class="product-content">
                        <div class="modal-header1">
                         <h4 class="product-title">Recall Information</h4>
                       </div>
                       <div class="modal-header2">
                         <p class="sample1">There are 3 different recalls issued on this product,however the serial number provided is <b>not</b> among the
                             ones that have been recalled</p>
                         <div>
                            <ul>
                                <li>The nossle can leak under extreme heat.</li>
                                <li>The handle can dislodge under certain conditions.</li>
                                <li>The bulb can overheat when left on for long periods of time.</li>
                            </ul>
                        
                         </div>
                       </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 productdetails1">
                    <div class="product-content1">
                        <div class="modal-header1">
                         <h4 class="product-title">Service Bulletin Information</h4>
                       </div>
                       <div class="modal-header2">
                         <p class="sample1">There are currently no service bulletins for this product</p>
                        
                       </div>
                    </div>
                </div>
                   </div>
                

           </div>
      


        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs=1"></div>
    </div>
</div>
