<app-nav-bar></app-nav-bar>
<div class="container">
    <h1>Reporting <span class="pull-right">Reports / <span style="color: #3498db;">Authentic Scans</span></span></h1></div>
    <hr>

<div class="container" >
    <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="list-group" id="list-tab" role="tablist "  >
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#home"  role="tab" aria-controls="home" active><mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>Authentic Scans</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#profile" role="tab" aria-controls="profile"><mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-down"></mat-icon>Counterfeit Scans</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" aria-controls="messages"><mat-icon fontSet="fontawesome" fontIcon="fa-tags"></mat-icon>Serial Number by Item</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" aria-controls="settings"><mat-icon fontSet="fontawesome" fontIcon="fa-book"></mat-icon>Documentation by Item</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" aria-controls="settings"><mat-icon fontSet="fontawesome" fontIcon="fa-pencil-square-o"></mat-icon>Registrations by Item</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" aria-controls="settings"><mat-icon fontSet="fontawesome" fontIcon="fa-refresh"></mat-icon>Recalls by Item</a>
                <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" aria-controls="settings"><mat-icon fontSet="fontawesome" fontIcon="fa-unlock-alt"></mat-icon>User Security</a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 ">
        <div class=" tab-content">
           
          <div class="tab-pane active" id="home" role="tabpanel">

          </div>
          <div class="tab-pane active" id="profile" role="tabpanel">.aSASDFGHGFDSAasdfg..</div>
</div>