h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}
.pull-right {
    float: right!important;
    color: #555;
    font-size: 13px;

}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color:#555;
    border-color:#555;
}
a:hover{
    color: #3498db;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
mat-icon{
    height:0px;
    width:15px;
}

  .container-fluid{
    padding-top:25px;
    padding-bottom:25px;
  
  
  }.header{
    background-color: rgb(237,243,248);
    min-height:40%;
    
    border:6px solid rgb(180, 170, 170);
    padding-top:2%;
   
  }
  
  table {
    width: 100%;
    border:6px solid black;
   
  }  
  .tableview{
    padding-top:5%;
  }
  
  
  /* .mobile-label {
    display: none;
  } */
  .mat-sort-header-arrow {
    height: 12px;
    width: 12px;
    min-width: 12px;
    position: relative;
    display: flex;
    opacity: 0;
    color: white !important;
    
  }
  
  
  @media(max-width: 768px) {
   
   
  
    .mobile-label {
      width: 80px;
      display: contents;
      font-weight: bold;
    }
    /* .button1{
      width:150px !important;
    } */
       mat-cell
    {
      
      padding-left: 0px!important;
    }
  
    /* .mat-header-row {
      display: none;
    } */
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 30px 30px 0px;
    }
    .apcalender{
      font-weight:bold;
      font-size:30px!important;
    }
    .content{
      font-size: 16px!important;
      margin-top: -10px!important;
    }
    
  
  }
  
  .border{
    border:2px solid grey;
  }
  .heading{
      margin-left:3%;
      font-size:18px;
  }
  .content{
    margin-left:3%;
    font-size:18px;
  }
  
  .apcalender{
  font-weight:bold;
  font-size:35px;
  }
  .mat-row:nth-child(even){
  background-color:white;
  }
  
  .mat-row:nth-child(odd){
  background-color:rgb(237,243,248);
  }
  /* .mat-column-name{
   
   
  
  } */
  
  mat-header-cell {
  flex: 2;
  
  display: flex;
  align-items: center;
  
  font-weight: bold;
  color:black;
  font-size:15px;
  
  }
 
  .pass{
  text-align:end;
  }
  @media(min-width:768px){
   
    ::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
      opacity: 0.54 !important;
      color:white!important;
    }
    mat-header-cell.mat-sort-header-sorted {
      color:white !important;
    }
    
  
  .apcalender{
  letter-spacing: 2px;
  font-size: 42px;
  
  }
  .heading{
  font-size: 45px;
  
  }
  .content{
  font-size: 25px;
  
  line-height: 1;
  }
  
  }
 
  mat-header-cell,mat-cell { 
  display: flex;  
  justify-content: center; 
  border: 1px solid rgba(0,0,0,.125);
  }
  @media(min-width:769px){
    .example-container {
      display: flex;
      flex-direction: column;
     
      min-width: 300px;
     
     
   
    }
   
    .mat-table {
      overflow: auto;
      font-family: "lato";
    }
  }
  
  .button1{
    background-color:#26a8e0;
    color:#fff;
    margin-left:0px;
    margin-right:0px;
    padding:9px;
    width:100px;
  }

.Search
{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}    
.button2{
    background-color:#26a8e0;
    color:#fff;
    margin-left:0px;
    margin-right:0px;
    padding:9px;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .btn {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  
  font-size: .81rem;
  transition: .2s ease-in-out;
  margin: .175rem;
  border: 0;
  border-radius: .125rem;
  cursor: pointer;
  text-transform:none;
  white-space: normal;
  word-wrap: break-word;
  color:white;
  background-color:#2a48a4;
  font-size: 17px;
  }
  
  
  .loader {
    position: absolute;
      top: 10px;
      right: 42%;
      border: 5px solid #f3f3f3;
      border-radius: 50%;
      border-top: 5px solid #3498db;
      width: 22px;
      height: 22px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      z-index: 9999999;
  }
  .loader1 {
    position: absolute;
      top: 10px;
      right: 8px;
      border: 5px solid #f3f3f3;
      border-radius: 50%;
      border-top: 5px solid #3498db;
      width: 22px;
      height: 22px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      z-index: 9999999;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.list-group-item {
    position: relative;
    font-size: 13px;
    line-height: 1.6;
    display: block;
    padding:8px 30px 8px 10px !important;
    margin-bottom: -1px;
    background-color: #fff;
    
}