<div class="container">
    <div class="row">
    
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h4>Welcome to Universal Product Registration Administration</h4>
            <p>Last Updated: August 3, 2016
                Welcome to Universal Product Registration ("UPR"). UPR was designed with manufacturers and their customers in mind, and consists of a universal platform protecting customers and offering manufacturers the following:</p>
            
            <ul>
                <li>Brand Security and Trust through proactive counterfeit detection and prevention.</li><br>
                <li>Improved Customer Service with customer self-service access to important information.</li><br>
                <li>Customer Identification and Connection through simple product registration.</li><br>
                <li>Product Commissioning and Service through easy logging of all product touches.</li><br>
                <li>Universal Product Registration was designed with simplicity and user experience in mind. Whether you are a manufacturer or a consumer concerned with product authenticity, UPR is the answer.</li>
            </ul>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
   
</div>