<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top menubase">
<div class="container">
    <a class="navbar-brand" href="#">
          <img src="assets/img/UPR_Logo_Blue.png" alt="" class="nav-bar_img">
    </a>
    <div class="topbar">
			<ul class="navbar-nav ml-auto pull-right">
				<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
				<li class="topbar-devider"></li>
				<li><a href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
			</ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
</button>
</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top menulist">
  <div class="container">
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">DASHBOARD
                <span class="sr-only"></span>
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <!-- <a class="nav-link" href="#">PRODUCTS</a> -->
          <a class="nav-link dropdown-toggle" tabindex="-1" href="#" id="dropdownMenu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRODUCTS
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-item"><a href="#">Items</a></li>
          <li class="dropdown-item"><a href="#">Serial Numbers</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item submenu" tabindex="-1" href="#">Import</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="#">Import Items</a></li>
              <li class="dropdown-item"><a href="#">Import Serial Numbers</a></li>
            </ul>
          </li>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MODULE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SUPPORT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADMINISTRATION</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
