<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Items <span class="pull-right">Products / <span style="color: #3498db;">Items</span></span></h1></div>
  <hr>
<div class="container-fluid" id="AppealCalender">
    <!-- <div class=""> -->
        <div class="row">
      <div class="col-lg-1"></div>
      <div class="calender col-lg-10">
        <div class="row">
            <div class="col-lg-4">
            <button type="button"  class="btn btn-primary btn1 rounded" (click)="addproduct()" >Add a New Item</button>
        </div>
        <div class="col-lg-4"></div>
        <!-- <div class="form-group Search col-lg-4">
          <input  class="form-control pin-value"   (keyup)="applyFilter($event.target.value)" placeholder="Search...."
              required>
             
        </div> -->
            </div>
        <!-- <div class="example-container">
           
          <mat-table #table [dataSource]="listData" matSort>
  
  
            <ng-container matColumnDef="product_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Product Name:</span>
                {{element.product_name}}
              </mat-cell>
            </ng-container>
  
  
            <ng-container matColumnDef="counterfeit_radius">
              <mat-header-cell *matHeaderCellDef >Radius in Miles</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Radius in Miles</span>
                {{element.counterfeit_radius}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="activation_required">
                <mat-header-cell *matHeaderCellDef>Product Activation</mat-header-cell>
                <mat-cell  *matCellDef="let element">
                  <span class="mobile-label">Product Activation</span>
                <span *ngIf="element.is_serial_number_active==1">  <input type="checkbox"   checked readonly></span>
                <span *ngIf="element.is_serial_number_active==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="counterfeit_required">
                <mat-header-cell *matHeaderCellDef >Counterfeit Detection </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Counterfeit Detection</span>
                  <span *ngIf="element.counterfeit_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.counterfeit_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="content_management_required">
                <mat-header-cell *matHeaderCellDef >Content Management </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Content Management</span>
                  <span *ngIf="element.content_management_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.content_management_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="recall_required">
                <mat-header-cell *matHeaderCellDef >Recall Management </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Recall Management </span>
                  <span *ngIf="element.recall_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.recall_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
  
  
            <ng-container matColumnDef="Options">
              <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
              <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="updateproduct(row,row.product_id)" >
                      <mat-icon>launch</mat-icon>
                  </button>

                  
                  <button mat-icon-button (click)="DeleteProduct(row.product_id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
           
          </mat-table>
          <mat-paginator [pageSizeOptions]="[3,6,9,12]"></mat-paginator>
        </div>
      </div>
      <div class="col-lg-1"></div>
</div> -->
    <!-- </div> -->
    <div class="table-responsive-sm -md -lg -xs">
    <table mat-table [dataSource]="listData" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef > Item Name </th>
        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
      </ng-container>
      <ng-container matColumnDef="ref_no">
        <th mat-header-cell *matHeaderCellDef > Item Ref No </th>
        <td mat-cell *matCellDef="let element"> {{element.product_reference_number}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="counterfeit_radius">
        <th mat-header-cell *matHeaderCellDef>Radius in Miles</th>
        <td mat-cell *matCellDef="let element"> {{element.counterfeit_radius}} </td>
      </ng-container>
      <ng-container matColumnDef="Counterfeit">
        <th mat-header-cell *matHeaderCellDef> Counterfeit Detection </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.counterfeit_req==1"> <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon></span>
          <span *ngIf="element.counterfeit_req==0"  ><mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon></span>
           </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="content_management_required">
        <th mat-header-cell *matHeaderCellDef> Content Management </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.content_management_req==1"> <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon></span>
          <span *ngIf="element.content_management_req==0"  ><mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon></span>
           </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="recall_required">
        <th mat-header-cell *matHeaderCellDef>Recall Management </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.recall_req==1"><mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon></span>
          <span *ngIf="element.recall_req==0"  ><mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon></span>
           </td>
      </ng-container>
      <ng-container matColumnDef="Forms">
        <th mat-header-cell *matHeaderCellDef>Forms Management </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.content_management_req==1"><mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon></span>
          <span *ngIf="element.content_management_req==0"  ><mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon></span>
           </td>
      </ng-container>
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef>View/Edit </th>
        <td mat-cell *matCellDef="let element">
          <!-- <mat-icon-button (click)="updateproduct(row,row.product_id)" >
            <mat-icon>launch</mat-icon>
          </mat-icon-button> -->
          <mat-icon fontSet="fontawesome" class="btn btn-xs btn-default rounded fa fa-pencil" (click)="updateproduct(row,row.product_id)"></mat-icon>
        
        <!-- <mat-icon-button (click)="DeleteProduct(row.product_id)">
              <mat-icon>delete_outline</mat-icon>
            </mat-icon-button>   -->
           </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
</div>