<app-nav-bar></app-nav-bar>
<div class="container">
  <h1 class="itemsLeft">Items <span class="pull-right productRight">Products / <span style="color: #3498db;" class="productRight">Items</span></span></h1>
</div>
<hr>
<div class="container-fluid" id="AppealCalender">
  <!-- <div class=""> -->
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="calender col-lg-10">
      <div class="row">
        <div class="col-lg-12">
          <p class="importFile">The following list contains all of the Items available for use. You may add additional Items using the button below, or <a routerLink="../load" routerLinkActive="active">import a list of items
              </a></p>
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary btn1 rounded" data-toggle="modal" (click)="openModal()" data-target="#openModal1">Add a
            New Item</button>
        </div>
        <div class="col-lg-4"></div>
        <!-- <div class="form-group Search col-lg-4">
          <input  class="form-control pin-value"   (keyup)="applyFilter($event.target.value)" placeholder="Search...."
              required>
             
        </div> -->
      </div>
      <!-- <div class="example-container">
           
          <mat-table #table [dataSource]="listData" matSort>
  
  
            <ng-container matColumnDef="product_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Product Name:</span>
                {{element.product_name}}
              </mat-cell>
            </ng-container>
  
  
            <ng-container matColumnDef="counterfeit_radius">
              <mat-header-cell *matHeaderCellDef >Radius in Miles</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Radius in Miles</span>
                {{element.counterfeit_radius}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="activation_required">
                <mat-header-cell *matHeaderCellDef>Product Activation</mat-header-cell>
                <mat-cell  *matCellDef="let element">
                  <span class="mobile-label">Product Activation</span>
                <span *ngIf="element.is_serial_number_active==1">  <input type="checkbox"   checked readonly></span>
                <span *ngIf="element.is_serial_number_active==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="counterfeit_required">
                <mat-header-cell *matHeaderCellDef >Counterfeit Detection </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Counterfeit Detection</span>
                  <span *ngIf="element.counterfeit_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.counterfeit_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="content_management_required">
                <mat-header-cell *matHeaderCellDef >Content Management </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Content Management</span>
                  <span *ngIf="element.content_management_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.content_management_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="recall_required">
                <mat-header-cell *matHeaderCellDef >Recall Management </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Recall Management </span>
                  <span *ngIf="element.recall_req==1">  <input type="checkbox"   checked readonly></span>
                  <span *ngIf="element.recall_req==0"  >  <input type="checkbox" readonly></span>
                </mat-cell>
              </ng-container>
  
  
            <ng-container matColumnDef="Options">
              <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
              <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="updateproduct(row,row.product_id)" >
                      <mat-icon>launch</mat-icon>
                  </button>

                  
                  <button mat-icon-button (click)="DeleteProduct(row.product_id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
           
          </mat-table>
          <mat-paginator [pageSizeOptions]="[3,6,9,12]"></mat-paginator>
        </div>
      </div>
      <div class="col-lg-1"></div>
</div> -->
      <!-- </div> -->
      <div class="table-responsive-sm -md -lg -xs">
        <table mat-table [dataSource]="listData">

          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef> Item Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
          </ng-container>
          <ng-container matColumnDef="ref_no">
            <th mat-header-cell *matHeaderCellDef> Item Ref No </th>
            <td mat-cell *matCellDef="let element"> {{element.product_reference_number}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="counterfeit_radius">
            <th mat-header-cell *matHeaderCellDef>Radius in Miles</th>
            <td mat-cell *matCellDef="let element"> {{element.counterfeit_radius}} </td>
          </ng-container>
          <ng-container matColumnDef="Counterfeit">
            <th mat-header-cell *matHeaderCellDef> Counterfeit Detection </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.counterfeit_req==1">
                <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon>
              </span>
              <span *ngIf="element.counterfeit_req==0">
                <mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon>
              </span>
            </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="content_management_required">
            <th mat-header-cell *matHeaderCellDef> Content Management </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.content_management_req==1">
                <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon>
              </span>
              <span *ngIf="element.content_management_req==0">
                <mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon>
              </span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="recall_required">
            <th mat-header-cell *matHeaderCellDef>Recall Management </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.recall_req==1">
                <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon>
              </span>
              <span *ngIf="element.recall_req==0">
                <mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Forms">
            <th mat-header-cell *matHeaderCellDef>Forms Management </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.forms_req==1">
                <mat-icon fontSet="fontawesome" fontIcon="fa-check-square-o"></mat-icon>
              </span>
              <span *ngIf="element.forms_req==0">
                <mat-icon fontSet="fontawesome" fontIcon="fa-square-o"></mat-icon>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>View/Edit </th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-icon-button (click)="updateproduct(row,row.product_id)" >
            <mat-icon>launch</mat-icon>
          </mat-icon-button> -->
              <mat-icon fontSet="fontawesome" class="btn btn-xs btn-default rounded fa fa-pencil"
              data-toggle="modal" data-target="#openModal" (click)="updateproduct(element,element.product_id)"></mat-icon>

              <!-- <mat-icon-button (click)="DeleteProduct(row.product_id)">
              <mat-icon>delete_outline</mat-icon>
            </mat-icon-button>   -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>



    <!--Add Product-->
<div id="openModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="adjust">
            <div class="modal-header">

              <h4 class="modal-title" style="text-align: center;">Add New Item</h4>

              <span aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close">&times;</span>

            </div>
            <form #form1="ngForm" (submit)="addproduct(form1)" class="form1" autocomplete="off">
              <div class="modal-body">
                <div class="input-icons">
                  <div class="labelColor">Item Name</div>
                  <input class="form-control1" type="text" placeholder="Item Name" name="product_name"
                    #product_name="ngModel" [(ngModel)]="service.formData.product_name" required>
                  <!-- <div class="text-left text-danger" *ngIf="product_name.invalid"></div> -->
                </div>
                <div class="input-icons1">

                  <input class="input-field" type="checkbox" name="is_serial_number_active"
                    #is_serial_number_active="ngModel" [(ngModel)]="service.formData.is_serial_number_active"><span
                    style="margin-left:8px;" class="labelColor">Does each item have a serial number?</span>
                </div>
                <div class="input-icons1">

                  <input class="input-field" type="checkbox" (click)="toggleVisibility($event)" name="is_upc_code"
                    #is_upc_code="ngModel" [(ngModel)]="service.formData.is_upc_code"><span
                    style="margin-left:8px;" class="labelColor">Does this item have a UPC Code?</span>
                </div>
                <div class="input-icons1">
                  <div class="labelColor">Item Reference Number (GS1 / UPC)</div>
                  <input class="form-control1" [disabled]="!visible" type="text"
                    placeholder="Enter item Reference Number" name="product_reference_number"
                    #product_reference_number="ngModel" [(ngModel)]="service.formData.product_reference_number">

                </div>
                <div class="input-icons1">
                  <input class="input-field" (click)="toggleVisibility1($event)" type="checkbox" name="counterfeit_req"
                    #counterfeit_req="ngModel" [(ngModel)]="service.formData.counterfeit_req"><span
                    style="margin-left:8px;" class="labelColor">Enable counterfeit detection module.</span>
                </div>

                <div class="input-icons1">
                  <div class="labelColor">Counterfeit Radius in Miles</div>
                  <input class="form-control1" type="number" placeholder="100" name="counterfeit_radius"
                    #counterfeit_radius="ngModel" [disabled]="!visit" [(ngModel)]="service.formData.counterfeit_radius">

                </div>



                <div class="input-icons1">
                  <input class="input-field" type="checkbox" name="content_management_req"
                    #content_management_req="ngModel" [(ngModel)]="service.formData.content_management_req"><span
                    style="margin-left:8px;" class="labelColor">Enable content management module.</span>
                </div>

                <div class="input-icons1">
                  <input class="input-field" type="checkbox" name="recall_req" #recall_req="ngModel"
                    [(ngModel)]="service.formData. recall_req"><span class="labelColor" style="margin-left:8px;">Enable recall management
                    module.</span>
                </div>
                <div class="input-icons1">
                  <input class="input-field" type="checkbox" name="forms_req" #forms_req="ngModel"
                    [(ngModel)]="service.formData.forms_req"><span class="labelColor" style="margin-left:8px;">Enable forms management
                    module.</span>
                </div>
                <div class="col-lg-12 text-left text-danger mr-top" *ngIf="validAddProduct">
                  <div class="successMessages">{{message}}</div>
              </div>
              <div class="col-lg-12 text-left text-danger mr-top" *ngIf="inValidAddProduct">
                  <div class="errorMessages">{{message}}</div>
              </div>
              </div>

              <div class="modal-footer">
        
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="text" class="btn btn-primary">Submit</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<!--END Add Product-->

<!--Update Product-->
    <div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="adjust">
          <div class="modal-header">

            <h4 class="modal-title" style="text-align: center;">Edit a Item</h4>

            <span aria-hidden="true" class="close" data-dismiss="modal" (click)="CloseModel()" aria-label="Close">&times;</span>

          </div>
          <form #form="ngForm" (submit)="UpdateProduct(form)" class="form">
            <div class="modal-body">
              <div class="input-icons">
                <div class="labelColor">Item Name</div>
                <input class="form-control1" type="text" placeholder="Item Name" name="product_name"
                  #product_name="ngModel" [(ngModel)]="service.formData.product_name" required>
                <!-- <div class="text-left text-danger" *ngIf="product_name.invalid"></div> -->
              </div>
              <div class="input-icons1">

                <input class="input-field" type="checkbox" [disabled]="true" name="is_serial_number_active"
                  #is_serial_number_active="ngModel" [(ngModel)]="service.formData.is_serial_number_active"><span
                  style="margin-left:8px;" class="labelColor">Does each item have a serial number?</span>
              </div>
              <div class="input-icons1">

                <input class="input-field" type="checkbox" [disabled]="true" (click)="toggleVisibility($event)" name="is_upc_code"
                  #is_upc_code="ngModel" [(ngModel)]="service.formData.is_upc_code"><span
                  style="margin-left:8px;" class="labelColor">Does this item have a UPC Code?</span>
              </div>
              <div class="input-icons1">
                <div class="labelColor">Item Reference Number (GS1 / UPC)</div>
                <input class="form-control1" [disabled]="true" type="text"
                  placeholder="Enter item Reference Number" name="product_reference_number"
                  #product_reference_number="ngModel" [(ngModel)]="service.formData.product_reference_number">

              </div>
              <div class="input-icons1">
                <input class="input-field" (click)="toggleVisibility1($event)" readonly type="checkbox" name="counterfeit_req"
                  #counterfeit_req="ngModel" [(ngModel)]="service.formData.counterfeit_req"><span
                  style="margin-left:8px;" class="labelColor">Enable counterfeit detection module.</span>
              </div>

              <div class="input-icons1">
                <div class="labelColor">Counterfeit Radius in Miles</div>
                <input class="form-control1" type="number" placeholder="100" name="counterfeit_radius"
                  #counterfeit_radius="ngModel" [disabled]="!visit" [(ngModel)]="service.formData.counterfeit_radius">

              </div>



              <div class="input-icons1">
                <input class="input-field" type="checkbox" name="content_management_req"
                  #content_management_req="ngModel" [(ngModel)]="service.formData.content_management_req"><span
                  style="margin-left:8px;" class="labelColor">Enable content management module.</span>
              </div>

              <div class="input-icons1">
                <input class="input-field" type="checkbox" name="recall_req" #recall_req="ngModel"
                  [(ngModel)]="service.formData. recall_req"><span class="labelColor" style="margin-left:8px;">Enable recall management
                  module.</span>
              </div>
              <div class="input-icons1">
                <input class="input-field" type="checkbox" name="forms_req" #forms_req="ngModel"
                  [(ngModel)]="service.formData.forms_req"><span class="labelColor" style="margin-left:8px;">Enable forms management
                  module.</span>
              </div>
              <div class="col-lg-12 text-left text-danger mr-top" *ngIf="validUpdateProduct">
                <div class="successMessages">{{message1}}</div>
            </div>
            <div class="col-lg-12 text-left text-danger mr-top" *ngIf="inValidUpdateProduct">
                <div class="errorMessages">{{message1}}</div>
            </div>
            </div>

            <div class="modal-footer">
      
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="CloseModel()">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--END Update Product-->