.modal-footer,.modal-header
{
  padding:15px 0px !important;
  justify-content: center;
}

.modal-content
{
  z-index: 999999999999;
  position: absolute;

  color: black;
 
}

.modelmessage{text-align: center!important;font-size: 20px;}
button:disabled,
button[disabled]{
  cursor: not-allowed;
  color: #fff!important;
 background-color: #1b73bb;
}
html {
   
    -webkit-tap-highlight-color: none;
}
.btn
{
    margin-top: 0px !important;
}

.model-title{
    font-weight: 800 !important;
    font-size:18px !important;
}
.b{
    margin-top:0px;
}
.modal-body {
    position: relative;
    flex: -3 2 auto;
    padding: 20px;
    color: #5d5d5d;
    font-family: lato;
    font-weight: 500;
    font-size:17px;
    text-align:center;
}
.modal-title{
    font-size:18px;
    font-weight: 600;
    color:#335578;
}
.mat-dialog-container{
    width:25vw;
}
.modal-body>p{
    margin-bottom:0px;
}
.adjust{
    width:30vw;
}
@media(max-width:991px){
    .adjust{
        width:40vw;
    }
}
@media(max-width:600px){
    .adjust{
        width:60vw;
    }
}
@media(max-width:420px){
    .adjust{
        width:65vw;
    }
}
.input-icons
{
    margin-bottom: 20px;
}
.cancel
{
    background-color: #be1a1a;
    color: #ffffff;
    font-weight: 500;
}
.submit
{
    background-color: #26a8e0;
    color: #ffffff;
    font-weight: 500;
}
.label-name
{
    float: left;
}
::ng-deep .mat-form-field-underline {
    display: none;
  }
  mat-form-field
{
  width: 100%;
  
}
.dateInput
{
    display: block !important;
    width: 100% !important;
    font-size: 1rem !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    padding: .575rem .75rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mat-form-field {
    font-family: none !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper
{
    scroll-padding-bottom: 0em !important;
}