<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12 colsm-12 col-xs-12">
                        <div class="monthly-overview">
                            <div class="header">
                                <h4 class="title">Monthly Overview</h4>
                            </div>
                            <div class="monthly_body">
                                <table class="keyvalue-table">
                                    <tbody>
                                        <tr class="row1">
                                            <td><i class="icon-custom icon-sm-rounded-2x icon-bg-dark-blue fa fa-qrcode"></i>&nbsp;<span class="text1" style="vertical-align:text-bottom;"></span>SCANS</td>
                                            <td>10,000</td>
                                        </tr>
        
                                        <tr class="row1">
                                            <td><i class="icon-custom icon-sm-rounded-2x icon-bg-u fa fa-check"></i>&nbsp;<span class="text1" style="vertical-align:text-bottom;">AUTHENTIC</span></td>
                                            <td>9,750</td>
                                        </tr>
        
                                        <tr class="row1">
                                            <td><i class="icon-custom icon-sm-rounded-2x icon-bg-red fa fa-exclamation"></i>&nbsp;<span class="text1" style="vertical-align:text-bottom;">COUNTERFEIT</span></td>
                                            <td>250</td>
                                        </tr>
        
                                        <tr class="row1">
                                            <td><i class="icon-custom icon-sm-rounded-2x icon-bg-yellow fa fa-refresh"></i>&nbsp;<span class="text1" style="vertical-align:text-bottom">RECALLS</span></td>
                                            <td>4,865</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
        
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="monthly-overview">
                            <div class="header">
                                <h4 class="title">Scans By Month</h4>
                            </div>
                            <div class="monthly_body_month">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                    <!-- <div class="col-lg-7 col-md-12 colsm-12 col-xs-12">
                        <div class="monthly-overview">
                            <div class="header">
                                <h4 class="title">Monthly Statistics</h4>
                            </div>
                            <div class="monthly_body">
                                <table class="Statistics_table" mat-table [dataSource]="listData">
                                    <ng-container matColumnDef="scan_date">
                                      <th mat-header-cell *matHeaderCellDef>Scan Date</th>
                                      <td mat-cell *matCellDef="let element">  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="item">
                                      <th mat-header-cell *matHeaderCellDef>Item</th>
                                      <td mat-cell *matCellDef="let element"></td>
                                    </ng-container>
                                    <ng-container matColumnDef="serial_number">
                                      <th mat-header-cell *matHeaderCellDef>Serial Number</th>
                                      <td mat-cell *matCellDef="let element"></td>
                                    </ng-container>
                                    <ng-container matColumnDef="scan_location">
                                      <th mat-header-cell *matHeaderCellDef>Scan Location</th>
                                      <td mat-cell *matCellDef="let element"></td>
                                    </ng-container>
                          
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                            </div>
        
                        </div>
                    </div> -->
                   
                        <div class="monthly-overview">
                            <div class="header">
                                <h4 class="title">Scans By Location</h4>
                            </div>
                            <div class="monthly_body_scan">
                                
                            </div>
                        </div>
                  </div>
            </div>
           
        </div>
        <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div> -->
    </div>

