.itemsLeft
{
  color: #666;
  font-size: 22px;
  margin-top: 8px;
}

.productRight
{
  font-size: 13px;
  
}
.container-fluid{
    padding-top:25px;
    padding-bottom:25px;
}


.monthly-overview .header {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f4f4f4;
}

.header {
    padding: 0;
    margin: 0;
}


.monthly-overview{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0 0 3em;
    
}
    


.monthly-overview .title{
    color: #555;
    margin-bottom: 0;
    font-size: 16px;
    text-decoration:none;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
}
h4{
    line-height:24px;
    font-weight:normal;
}

.monthly_body {
    padding: 20px 15px;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size:13px;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
}

.keyvalue-table,td{
    vertical-align: middle !important;
    /* padding-top: 20px !important;
    padding-bottom: 20px !important; */
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.table,tbody,tr,td{
    /* padding: 25px; */
    line-height: 1.42857143;
    vertical-align: top;
    padding:9px;
    /* border-top: 1px solid #ddd; */
}

.keyvalue-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

i.icon-sm {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}

i.icon-custom {
    color: #555;
    width: 30px;
    height: 30px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border: solid 1px #555;
    border-radius: 10px;
}

i.icon-bg-dark-blue {
    background: #4765a0;
    color: #fff;
    border-color: transparent;
}
.rounded-2x {
    border-radius: 10px !important;
}

i.icon-bg-u {
    background: #3498db;
    color: #fff;
    border-color: transparent;
}

.icon-bg-red{
    background: #e74c3c;
    color: #fff !important;
    border-color: transparent !important;
}
.icon-bg-yellow{
    background: #f1c40f;
    color: #fff !important;
    border-color: transparent !important;
}
@media(max-width:767px){
    i.icon-custom {
       
        width: 25px;
        height: 25px;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 5px;
        text-align: center;
        display: inline-block;
        border: solid 1px #555;
        border-radius: 10px;
    }

    .table,tbody,tr,td{
        padding: 15px;
        line-height: 1.42857143;
        vertical-align: top;
        
    }


}

/* monthly overview */
.Statistics_table {
    width: 100%;
    border: 1px solid #ddd; 
   
  }  
  .tableview{
    padding-top:5%;
  }

  th{
    font-size:15px;
 }

 .mat-row:nth-child(even){
    background-color:white;
    }
    
    .mat-row:nth-child(odd){
    background-color:#f9f9f9;
    }

    mat-header-cell {
        flex: 2;
        display: flex;
        align-items: center;
        font-weight: bold;
        color:black;
        font-size:17px;
        
 }

 mat-header-cell,mat-cell { 
    display: flex;  
    justify-content: center; 
    border: 1px solid rgba(0,0,0,.125);
    }

    mat-row, mat-footer-row {
        height: 39px;
      }

      .Statistics_table {
        border-collapse: collapse;
       
      }
      .mat-header-cell {
       
        font-size: 14px;
        color: #333;
        font-weight: bold;
    }
    
    .Statistics_table td {
        border: 1px solid #ddd; 
        
      }
      
    
      .Statistics_table[_ngcontent-vmv-c163] th[_ngcontent-vmv-c163] {
        border: 1px solid #ddd;
    }
    
    .Statistics_table th.mat-header-cell:first-of-type, .Statistics_table td.mat-cell:first-of-type, .Statistics_table td.mat-footer-cell:first-of-type {
       padding-left:8px;
    }
    .Statistics_table th.mat-header-cell, .Statistics_table td.mat-cell, .Statistics_table td.mat-footer-cell {
      padding-left: 8px;
    }
    .Statistics_table th {
        border: 1px solid #ddd; 
       
      }
      .Statistics_table tr:first-child td {
        border-top: 0;
        
      }
      .Statistics_table tr td:first-child {
        border-left: 0;
      }
      .Statistics_table tr:last-child td {
        border-bottom: 0;
      }
      .Statistics_table tr td:last-child {
        border-right: 0;
      }

      .Statistics_table tr.mat-header-row {
        height: 0px !important;
      }
      
      .Statistics_table tr.mat-row, .Statistics_table tr.mat-footer-row {
        height: 0px !important;
      }
      
      .Statistics_table th.mat-header-cell, .Statistics_table td.mat-cell, .Statistics_table td.mat-footer-cell
      {
        padding: 8px !important;
        font-size: 16px;
        color:#444444;
        text-decoration:none;
        font-weight:400;
      }
      @media(max-width: 767px) {

        .mobile-label {
          width: 80px;
          display: contents;
          font-weight:500;
        }

        .Statistics_table th.mat-header-cell, .Statistics_table td.mat-cell, .Statistics_table td.mat-footer-cell
      {
        padding: 8px !important;
        font-size: 10px;
        color:#444444;
        text-decoration:none;
        font-weight: normal;
      }
        /* .button1{
          width:150px !important;
        } */
           mat-cell
        {
          
          padding-left: 0px!important;
        }
      
        /* .mat-header-row {
          display: none;
        } */
      
        .mat-row { 
          flex-direction: column;
          align-items: flex-start;
          padding: 30px 30px 0px;
        }
        .apcalender{
          font-weight:bold;
          font-size:30px!important;
        }
        .content{
          font-size: 16px!important;
          margin-top: -10px!important;
        }
        
     }


      
      .monthly_body_month{
        height: 330px;
      }
      .monthly_body_scan{
       padding: 20px;
      }
    
      @media(max-width:767px){
        .productRight
      {
        font-size: 11px;
        
      }
      
      .itemsLeft
      {
       
        font-size: 14px;
       
      }
      
      }